In [107]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [108]:
# Assuming the dataset is in the same directory as your notebook
df = pd.read_csv('dataset.csv')

In [109]:
df

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,15,1,1,1,1,1,6,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,15,1,1,19,1,1,10,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,12,1,1,1,22,27,10,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9,1,1,1,22,27,8,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,5,1,15,1,1,9,23,27,6,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

In [110]:
# Count occurrences for all unique values in the column
print(df['Target'].value_counts())

Target
Graduate    2209
Dropout     1421
Enrolled     794
Name: count, dtype: int64

In [111]:
# Get 1400 of graduate and droput:
graduate_df = df[df['Target'] == 'Graduate'].head(1400)
dropout_df = df[df['Target'] == 'Dropout'].head(1400)

# Combine the dataframes
combined_df = pd.concat([graduate_df, dropout_df])

# Reset the index to ensure that the rows are properly randomized
combined_df = combined_df.reset_index(drop=True)

# Shuffle (randomize) the rows
combined_df = combined_df.sample(frac=1, random_state=42).reset_index(drop=True)

# Now, combined_df contains the combined and randomized data

In [112]:
combined_df

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,13,1,1,1,13,14,10,...,0,8,8,8,13.387500,0,10.8,1.4,1.74,Graduate
1,1,9,2,12,1,1,1,23,27,6,...,0,8,8,7,12.342857,0,10.8,1.4,1.74,Graduate
2,2,12,1,17,0,1,1,22,14,10,...,0,5,8,4,11.800000,0,10.8,1.4,1.74,Dropout
3,1,8,4,12,1,1,1,23,27,6,...,0,8,8,8,13.906250,0,11.1,0.6,2.02,Graduate
4,1,12,1,14,1,1,1,22,27,12,...,0,6,6,0,0.000000,0,12.7,3.7,-1.70,Dropout
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,1,1,1,15,1,1,1,19,28,1,...,0,6,13,2,10.000000,0,7.6,2.6,0.32,Dropout
2796,1,1,1,14,1,1,1,1,27,2,...,0,6,10,6,11.777778,0,8.9,1.4,3.51,Graduate
2797,1,1,1,5,1,1,1,13,1,6,...,0,6,8,6,13.250000,0,10.8,1.4,1.74,Graduate
2798,1,1,2,11,1,1,1,4,3,8,...,0,6,6,6,11.166667,0,8.9,1.4,3.51,Graduate
2799,1,1,1,6,1,1,1,22,28,7,...,0,5,8,4,14.500000,0,7.6,2.6,0.32,Graduate

In [113]:
print(combined_df['Target'].value_counts())

Target
Graduate    1400
Dropout     1400
Name: count, dtype: int64

In [114]:
# Display the null counts for each column
print(combined_df.isnull().sum())

Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance                        0
Previous qualification                            0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

In [115]:
# Print all columns
print(combined_df.columns)

Index(['Marital status', 'Application mode', 'Application order', 'Course',
       'Daytime/evening attendance', 'Previous qualification', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Displaced',
       'Educational special needs', 'Debtor', 'Tuition fees up to date',
       'Gender', 'Scholarship holder', 'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')

In [116]:
X = df.drop(columns=['Target', 'Curricular units 1st sem (enrolled)', 'Curricular units 2nd sem (enrolled)']).to_numpy()
y = df['Target']

In [117]:
X_reshaped = X.reshape(-1, 8, 4)
print(X_reshaped.shape)

(4424, 8, 4)

In [118]:
print(y)

0        Dropout
1       Graduate
2        Dropout
3       Graduate
4       Graduate
          ...
4419    Graduate
4420     Dropout
4421     Dropout
4422    Graduate
4423    Graduate
Name: Target, Length: 4424, dtype: object

In [119]:
from sklearn.preprocessing import LabelEncoder
from keras.utils import to_categorical

label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)
y_final = to_categorical(y_encoded, num_classes=3)
print(y_final)

[[1. 0. 0.]
 [0. 0. 1.]
 [1. 0. 0.]
 ...
 [1. 0. 0.]
 [0. 0. 1.]
 [0. 0. 1.]]

In [124]:
from sklearn.model_selection import train_test_split

# Splitting a dataset into a training set and a testing set
X_train, X_test, y_train, y_test = train_test_split(X_reshaped, y_final, test_size=0.2, random_state=42)

In [125]:
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [126]:
model = keras.Sequential([
    layers.Flatten(input_shape=(8, 4)),  # Flatten the 8x4 input into a 32-element vector
    layers.Dense(128, activation='relu'),  # 64 neurons in the hidden layer with ReLU activation
    layers.Dense(128, activation='relu'),  # 64 neurons in the hidden layer with ReLU activation
    layers.Dense(128, activation='relu'),  # 64 neurons in the hidden layer with ReLU activation
    layers.Dense(3, activation='softmax')  # Output layer with softmax activation for classification
])

In [127]:
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [128]:
history = model.fit(X_train, y_train, epochs=100)

Epoch 1/100
111/111 [==============================] - 1s 1ms/step - loss: 0.7762 - accuracy: 0.6807
Epoch 2/100
111/111 [==============================] - 0s 1ms/step - loss: 0.6508 - accuracy: 0.7279
Epoch 3/100
111/111 [==============================] - 0s 1ms/step - loss: 0.6208 - accuracy: 0.7431
Epoch 4/100
111/111 [==============================] - 0s 1ms/step - loss: 0.6067 - accuracy: 0.7502
Epoch 5/100
111/111 [==============================] - 0s 1ms/step - loss: 0.6089 - accuracy: 0.7443
Epoch 6/100
111/111 [==============================] - 0s 1ms/step - loss: 0.5915 - accuracy: 0.7550
Epoch 7/100
111/111 [==============================] - 0s 1ms/step - loss: 0.5680 - accuracy: 0.7672
Epoch 8/100
111/111 [==============================] - 0s 1ms/step - loss: 0.5420 - accuracy: 0.7779
Epoch 9/100
111/111 [==============================] - 0s 1ms/step - loss: 0.5332 - accuracy: 0.7804
Epoch 10/100
111/111 [==============================] - 0s 1ms/step - loss: 0.5258 - accuracy: 0.7901
Epoch 11/100
111/111 [==============================] - 0s 1ms/step - loss: 0.5072 - accuracy: 0.7940
Epoch 12/100
111/111 [==============================] - 0s 1ms/step - loss: 0.4893 - accuracy: 0.8028
Epoch 13/100
111/111 [==============================] - 0s 1ms/step - loss: 0.4910 - accuracy: 0.8067
Epoch 14/100
111/111 [==============================] - 0s 1ms/step - loss: 0.4810 - accuracy: 0.8101
Epoch 15/100
111/111 [==============================] - 0s 1ms/step - loss: 0.4600 - accuracy: 0.8220
Epoch 16/100
111/111 [==============================] - 0s 1ms/step - loss: 0.4487 - accuracy: 0.8197
Epoch 17/100
111/111 [==============================] - 0s 1ms/step - loss: 0.4376 - accuracy: 0.8225
Epoch 18/100
111/111 [==============================] - 0s 2ms/step - loss: 0.4477 - accuracy: 0.8160
Epoch 19/100
111/111 [==============================] - 0s 1ms/step - loss: 0.4352 - accuracy: 0.8285
Epoch 20/100
111/111 [==============================] - 0s 1ms/step - loss: 0.4012 - accuracy: 0.8409
Epoch 21/100
111/111 [==============================] - 0s 1ms/step - loss: 0.3891 - accuracy: 0.8471
Epoch 22/100
111/111 [==============================] - 0s 1ms/step - loss: 0.3850 - accuracy: 0.8468
Epoch 23/100
111/111 [==============================] - 0s 1ms/step - loss: 0.3843 - accuracy: 0.8468
Epoch 24/100
111/111 [==============================] - 0s 1ms/step - loss: 0.3745 - accuracy: 0.8468
Epoch 25/100
111/111 [==============================] - 0s 1ms/step - loss: 0.3734 - accuracy: 0.8488
Epoch 26/100
111/111 [==============================] - 0s 1ms/step - loss: 0.3406 - accuracy: 0.8689
Epoch 27/100
111/111 [==============================] - 0s 1ms/step - loss: 0.3316 - accuracy: 0.8714
Epoch 28/100
111/111 [==============================] - 0s 1ms/step - loss: 0.3101 - accuracy: 0.8771
Epoch 29/100
111/111 [==============================] - 0s 1ms/step - loss: 0.3083 - accuracy: 0.8816
Epoch 30/100
111/111 [==============================] - 0s 1ms/step - loss: 0.3045 - accuracy: 0.8799
Epoch 31/100
111/111 [==============================] - 0s 1ms/step - loss: 0.2825 - accuracy: 0.8864
Epoch 32/100
111/111 [==============================] - 0s 1ms/step - loss: 0.2943 - accuracy: 0.8892
Epoch 33/100
111/111 [==============================] - 0s 1ms/step - loss: 0.2562 - accuracy: 0.8966
Epoch 34/100
111/111 [==============================] - 0s 1ms/step - loss: 0.2762 - accuracy: 0.8932
Epoch 35/100
111/111 [==============================] - 0s 1ms/step - loss: 0.2415 - accuracy: 0.9028
Epoch 36/100
111/111 [==============================] - 0s 1ms/step - loss: 0.2190 - accuracy: 0.9166
Epoch 37/100
111/111 [==============================] - 0s 1ms/step - loss: 0.2221 - accuracy: 0.9200
Epoch 38/100
111/111 [==============================] - 0s 2ms/step - loss: 0.2073 - accuracy: 0.9209
Epoch 39/100
111/111 [==============================] - 0s 1ms/step - loss: 0.1896 - accuracy: 0.9308
Epoch 40/100
111/111 [==============================] - 0s 1ms/step - loss: 0.1879 - accuracy: 0.9330
Epoch 41/100
111/111 [==============================] - 0s 1ms/step - loss: 0.2129 - accuracy: 0.9195
Epoch 42/100
111/111 [==============================] - 0s 1ms/step - loss: 0.1949 - accuracy: 0.9271
Epoch 43/100
111/111 [==============================] - 0s 2ms/step - loss: 0.1857 - accuracy: 0.9325
Epoch 44/100
111/111 [==============================] - 0s 1ms/step - loss: 0.1683 - accuracy: 0.9376
Epoch 45/100
111/111 [==============================] - 0s 1ms/step - loss: 0.1517 - accuracy: 0.9438
Epoch 46/100
111/111 [==============================] - 0s 2ms/step - loss: 0.1708 - accuracy: 0.9387
Epoch 47/100
111/111 [==============================] - 0s 2ms/step - loss: 0.1420 - accuracy: 0.9480
Epoch 48/100
111/111 [==============================] - 0s 2ms/step - loss: 0.1280 - accuracy: 0.9556
Epoch 49/100
111/111 [==============================] - 0s 1ms/step - loss: 0.1354 - accuracy: 0.9491
Epoch 50/100
111/111 [==============================] - 0s 2ms/step - loss: 0.1179 - accuracy: 0.9542
Epoch 51/100
111/111 [==============================] - 0s 1ms/step - loss: 0.1057 - accuracy: 0.9638
Epoch 52/100
111/111 [==============================] - 0s 1ms/step - loss: 0.1497 - accuracy: 0.9457
Epoch 53/100
111/111 [==============================] - 0s 1ms/step - loss: 0.1353 - accuracy: 0.9528
Epoch 54/100
111/111 [==============================] - 0s 1ms/step - loss: 0.1488 - accuracy: 0.9500
Epoch 55/100
111/111 [==============================] - 0s 1ms/step - loss: 0.1299 - accuracy: 0.9503
Epoch 56/100
111/111 [==============================] - 0s 2ms/step - loss: 0.1199 - accuracy: 0.9565
Epoch 57/100
111/111 [==============================] - 0s 2ms/step - loss: 0.0760 - accuracy: 0.9760
Epoch 58/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0599 - accuracy: 0.9833
Epoch 59/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0732 - accuracy: 0.9740
Epoch 60/100
111/111 [==============================] - 0s 2ms/step - loss: 0.0655 - accuracy: 0.9802
Epoch 61/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0612 - accuracy: 0.9819
Epoch 62/100
111/111 [==============================] - 0s 2ms/step - loss: 0.0774 - accuracy: 0.9700
Epoch 63/100
111/111 [==============================] - 0s 1ms/step - loss: 0.1166 - accuracy: 0.9599
Epoch 64/100
111/111 [==============================] - 0s 1ms/step - loss: 0.1362 - accuracy: 0.9528
Epoch 65/100
111/111 [==============================] - 0s 2ms/step - loss: 0.1154 - accuracy: 0.9596
Epoch 66/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0844 - accuracy: 0.9712
Epoch 67/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0509 - accuracy: 0.9847
Epoch 68/100
111/111 [==============================] - 0s 2ms/step - loss: 0.0365 - accuracy: 0.9912
Epoch 69/100
111/111 [==============================] - 0s 2ms/step - loss: 0.0576 - accuracy: 0.9808
Epoch 70/100
111/111 [==============================] - 0s 2ms/step - loss: 0.1063 - accuracy: 0.9638
Epoch 71/100
111/111 [==============================] - 0s 2ms/step - loss: 0.0771 - accuracy: 0.9732
Epoch 72/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0746 - accuracy: 0.9720
Epoch 73/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0666 - accuracy: 0.9794
Epoch 74/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0576 - accuracy: 0.9819
Epoch 75/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0400 - accuracy: 0.9895
Epoch 76/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0386 - accuracy: 0.9878
Epoch 77/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0728 - accuracy: 0.9754
Epoch 78/100
111/111 [==============================] - 0s 1ms/step - loss: 0.1041 - accuracy: 0.9633
Epoch 79/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0859 - accuracy: 0.9692
Epoch 80/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0987 - accuracy: 0.9652
Epoch 81/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0759 - accuracy: 0.9734
Epoch 82/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0637 - accuracy: 0.9782
Epoch 83/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0490 - accuracy: 0.9828
Epoch 84/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0176 - accuracy: 0.9963
Epoch 85/100
111/111 [==============================] - 0s 2ms/step - loss: 0.0132 - accuracy: 0.9969
Epoch 86/100
111/111 [==============================] - 0s 2ms/step - loss: 0.0107 - accuracy: 0.9989
Epoch 87/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0125 - accuracy: 0.9980
Epoch 88/100
111/111 [==============================] - 0s 2ms/step - loss: 0.0068 - accuracy: 0.9994
Epoch 89/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0105 - accuracy: 0.9986
Epoch 90/100
111/111 [==============================] - 0s 2ms/step - loss: 0.0142 - accuracy: 0.9969
Epoch 91/100
111/111 [==============================] - 0s 2ms/step - loss: 0.1463 - accuracy: 0.9562
Epoch 92/100
111/111 [==============================] - 0s 2ms/step - loss: 0.1952 - accuracy: 0.9330
Epoch 93/100
111/111 [==============================] - 0s 1ms/step - loss: 0.1050 - accuracy: 0.9582
Epoch 94/100
111/111 [==============================] - 0s 2ms/step - loss: 0.0772 - accuracy: 0.9726
Epoch 95/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0262 - accuracy: 0.9946
Epoch 96/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0101 - accuracy: 0.9989
Epoch 97/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0070 - accuracy: 0.9997
Epoch 98/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0087 - accuracy: 0.9989
Epoch 99/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0070 - accuracy: 0.9989
Epoch 100/100
111/111 [==============================] - 0s 1ms/step - loss: 0.0051 - accuracy: 0.9994

In [129]:
test_loss, test_accuracy = model.evaluate(X_test, y_test)
print(f"Test Accuracy: {test_accuracy * 100:.2f}%")

28/28 [==============================] - 0s 889us/step - loss: 2.7573 - accuracy: 0.7153
Test Accuracy: 71.53%